* {
    box-sizing: border-box;
}

:root {
    --bgcolor: #F9FAFB;
}

@font-face {
    font-family: "NorseBold";
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    
    display: flex;
}

.sidebar {
    width: 30%;
    height: 100vh;
    background: url(images/sidebar-bg.jpg) no-repeat center;
    background-size: cover;

    text-align: center;
    position: relative;
}

.sidebar-title {
    position: absolute;
    width: 100%;

    top: 200px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 0;

    font-family: NorseBold;
    font-size: 4rem;
    color: white;
}

.picture-credit {
    width: 100%;

    position: absolute;
    bottom: 10px;

    & a, a:visited {
        color: darkblue;
    }
}

.form-section {
    width: 70%;

    background-color: var(--bgcolor);
    color: black;
}

.introduction {
    font-weight: 550;
    font-size: 1.2rem;
    margin: 75px 50px;
}

form {
    background-color: white;
    padding: 20px 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

input, button {
    font-size: 100%;
    font-family: inherit;
}

form label {
    display: block;

    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.form-row {
    display: flex;
}

.form-row + .form-row {
    margin-top: 20px;
}

.form-col + .form-col {
    margin: 0 100px;
}

.required-asterisk {
    color: red;
    font-size: 1rem;
}

button[type="submit"] {
    margin-top: 25px;
    padding: 8px 15px;

    color: white;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: none;
}

form p span {
    text-decoration: underline;
    color: darkblue;
}